{% extends "cart/base.html" %}


{% block title %}Order Details {% endblock %}
{% block header %}<h1>Order Details</h1>{% endblock %}


{% block content %}

{% if items %}
<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<h1 class="mb-5">There are no items in the cart.</h1>
{% endif %}

<p><a href="{% url 'donation:donation_create' %}" class="btn btn-secondary">Back to donations</a></p>

{% endblock %}


{% block sidebar %}

<p><strong>{{ cart.num_items }} item(s) in cart</strong></p><hr />
<h3 class="mb-5">Order Summary</h3>
<table class="table">
    <thead>
        <tr>
            <td>Item Subtotal</td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
    </thead>
</table>

{% if cart.num_items > 0 %}
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="submit" class="btn btn-secondary" name="submit" value="Continue to checkout" />
</form>
{% else %}
<p><strong>Add items to cart to checkout!</strong></p>
{% endif %}


{% endblock %}